/* ---------------------------------------------------- */
/* -------------------DEFAULT CSS---------------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  overflow-x: hidden;
  position: relative;
  background-color: rgb(255, 244, 248) !important;
  color: rgb(21, 0, 8) !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

/* -----------------END DEFAULT CSS-------------------- */
/* ---------------------------------------------------- */
/* --------------------NAVIGATION---------------------- */

nav.navbar{
  padding: 18px, 0;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 9999;
  transition: 0.3s ease-in-out;
  background-color: rgb(255, 232, 241);
}

nav.navbar .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

nav.navbar.scrolled {
  background-color: rgb(255, 220, 234);
}

nav.navbar a.navbar-brand {
    width: 11%;
    font-size: 21px;
    color: rgb(118, 12, 52);
    font-weight: bold;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: rgb(21, 0, 8);
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 19px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover, nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
    color: rgb(168, 28, 82);
}

span.navbar-text {
    display: flex;
    align-items: center;
}

.social-icon {
    display: inline-block;
    margin-left: 14px;
}

.social-icon .socialLogo{
  width: 30px;
}

.social-icon a {
    width: 30px;
    height: 30px;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 18px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    background-color: rgb(255, 244, 248);
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}

/* ------------------END NAVIGATION-------------------- */
/* ---------------------------------------------------- */
/* ----------------------BANNER------------------------ */

.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  height: 100vh;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 30px;
  display: block;
}

.banner span{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
}

.banner p {
  margin-top: 40px;
  color: #787878;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner img{
  position: absolute;
  width: 100px;
}

.banner .flower1{
  animation: rotate 6s linear infinite;
  margin-left: 220px;
  margin-top: -220px;
}

.banner .flower2{
  animation: rotate 5s linear reverse infinite;
  margin-left: 160px;
  margin-top: -160px;
}

.banner .wrap {
  border-right: 0.08em solid #666;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------END BANNER---------------------- */
/* ---------------------------------------------------- */
/* ----------------------SKILLS------------------------ */

.skill {
  padding: 50px;
  position: relative;
  height: 100vh;
}

.skill-bx {
  background: #fffafb;
  box-shadow: 0 0 5px 5px rgba(225, 196, 207, 0.377);
  border-radius: 64px;
  text-align: center;
  padding: 30px 50px;
  margin: auto;
  height: 500px;
}

.skill h2 {
	font-size: 45px;
	font-weight: 700;
  color: rgb(118, 12, 52);
}

.skill p {
    color: #787878;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/* --------------------END SKILLS---------------------- */
/* ---------------------------------------------------- */
/* ---------------------PROJECTS----------------------- */

.project {
  margin-top: 0;
  padding: 80px 0;
  position: relative;
}

.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  color: rgb(118, 12, 52);
}

.project p {
  color: #787878;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgba(224, 158, 172, 0.5);
  overflow: hidden;
}

.project .nav.nav-pills .nav-item {
  width: 50%;
  /* adjust width according to the number of projects */
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #f68bb2 -5.91%, #f24786 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
}

.tab-pane-projects{
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.proj-imgbx {
  position: relative;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  box-shadow: 0 0 5px 5px rgba(225, 196, 207, 0.377);
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #f68bb2 -5.91%, #f24786 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx p {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: black;
  margin-bottom: 10px;
}

.proj-txtx a {
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.8px;
  color: white;
  margin-top: 10px;
  text-decoration: none;
}

/* -------------------END PROJECTS--------------------- */
/* ---------------------------------------------------- */
/* ---------------------ABOUT ME----------------------- */

.aboutme{
  width: 60%;
  margin: auto;
  background-color: white;
  border-radius: 25px;
  padding: 30px 80px;
  box-shadow: 0 0 5px 5px rgba(225, 196, 207, 0.377);
}

.aboutme h2{
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  color: rgb(118, 12, 52);
  margin: 15px 0;
}

.aboutme img{
  width: 250px;
  border-radius: 125px;
  border: rgb(255, 230, 236) 5px solid;
  display: block;
  margin: 15px auto;
}

.aboutme p {
  color: #000000;
  font-size: 19px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 15px auto 30px auto;
  text-align: center;
}

/* -------------------END ABOUT ME--------------------- */
/* ---------------------------------------------------- */
/* --------------------CONTACT ME---------------------- */

.contact {
  margin: 30px 0;
  padding: 60px 0 200px 0;
}

.contact img {
  width: 80%;
}

.contact h2 {
	font-size: 45px;
	font-weight: 700;
  color: rgb(118, 12, 52);
  margin-bottom: 30px;
}

.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(118, 12, 52, 0.5);
  border-radius: 20px;
  color: #000000;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #121212;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: rgb(118, 12, 52);
  background-color: rgb(255, 211, 227);
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 10px;
  position: relative;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: rgb(118, 12, 52);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

.contact form .success{
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
}

.contact form .danger{
  color: #7e0000;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
}

/* ------------------END CONTACT ME-------------------- */
/* ---------------------------------------------------- */
/* --------------------CONTACT ME---------------------- */