/* ---------------------------------------------------- */
/* -------------------DEFAULT CSS---------------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  overflow-x: hidden;
  position: relative;
  background-color: rgb(255, 244, 248) !important;
  color: rgb(21, 0, 8) !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

/* -----------------END DEFAULT CSS-------------------- */
/* ---------------------------------------------------- */
/* --------------------NAVIGATION---------------------- */

nav.navbar{
  padding: 18px, 0;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 9999;
  transition: 0.3s ease-in-out;
  background-color: rgb(255, 232, 241);
}

nav.navbar .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

nav.navbar.scrolled {
  background-color: rgb(255, 220, 234);
}

nav.navbar a.navbar-brand {
    width: 11%;
    font-size: 21px;
    color: rgb(118, 12, 52);
    font-weight: bold;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: rgb(21, 0, 8);
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 19px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover, nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
    color: rgb(168, 28, 82);
}

span.navbar-text {
    display: flex;
    align-items: center;
}

.social-icon {
    display: inline-block;
    margin-left: 14px;
}

.social-icon .socialLogo{
  width: 30px;
}

.social-icon a {
    width: 30px;
    height: 30px;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 18px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    background-color: rgb(255, 244, 248);
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}

/* ------------------END NAVIGATION-------------------- */
/* ---------------------------------------------------- */
/* ----------------------BANNER------------------------ */

.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  height: 100vh;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 30px;
  display: block;
}

.banner span{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
}

.banner p {
  margin-top: 40px;
  color: #787878;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner img{
  position: absolute;
  width: 100px;
}

.banner .flower1{
  animation: rotate 6s linear infinite;
  margin-left: 220px;
  margin-top: -220px;
}

.banner .flower2{
  animation: rotate 5s linear reverse infinite;
  margin-left: 160px;
  margin-top: -160px;
}

.banner .wrap {
  border-right: 0.08em solid #666;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------END BANNER---------------------- */
/* ---------------------------------------------------- */
/* ----------------------SKILLS------------------------ */

.skill {
  padding: 50px;
  position: relative;
  height: 100vh;
}

.skill-bx {
  background: #fffafb;
  border-radius: 64px;
  text-align: center;
  padding: 30px 50px;
  margin: auto;
  height: 460px;
  transform: translateY(50vh);
  margin-top: -260px;
}

.skill h2 {
	font-size: 45px;
	font-weight: 700;
  color: rgb(118, 12, 52);
}

.skill p {
    color: #787878;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
